@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap');

.subsection p{
  margin-left:auto;
  margin-right:auto;
}

body {
    text-align: center;
    color:white;
    background-color:dodgerblue;
    font-family: "Micro 5", sans-serif;
    margin: 0;
    padding: 0;
}


.buttons {
    cursor:pointer;
    background-color:lightgray;
    font-family: "Micro 5", sans-serif;
}

.buttons:active {
  background-color: white;
  color:black;
}

.buttons:hover {
  background-color: gray;
  color:white;
}

.section {
    cursor:pointer;
    color:black;
    border: 3px solid black;
    text-align: center;
    background-color: white;
}

.section:hover{
    background-color: blue;
    color:white;
}

.subsection{
    color:black;
    border: 3px solid black;
    text-align: center;
    background-color: white;
}

.screenshots {
    margin-left: 5%;
    margin-top: 10px;
    border:3px solid black;
}

h2, p {
    margin: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  ul li {
    float: left;
  }
  
  ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul li a:hover {
    background-color: #111111;
  }